
/**
Only redefine color variables from the base theme.
New colors or brand colors should be added in the base theme, not here.
 */

// Application-wide colors

$color-brand-1:           #be2428; // Official brand color

$color-brand-2-lighter:   #8e97ae;
$color-brand-2-light:     #4e5c80;
$color-brand-2:           black; // Official brand color

$color-brand-3-light:     #84d7b5;
$color-brand-3:           #0faf6d; // Official brand color
