// Paths to images and icons

$logo_background: '/../../../../img/PVH_Logo.svg';
$checkbox_background: '/../../../../img/checkbox.png';
$not_found: '/../../../../img/not-found.png';
$stripes: '/../../../../img/stripes.png';
$info_button: '/../../../../img/info-button.png';
$gradient: '/../../../../img/gradient.png';
$meter_mask: '/../../../../img/meter-mask.svg';
$disable_checkbox: '/../../../../img/checkbox-disabled.png';

